.checkout{
    display: flex;
    justify-content: space-between;
    margin: 20px;
    
}
.subtotal_section{
    height: fit-content;
    flex: 0.3;
    padding: 10px;
    flex-grow: 2;
    max-width: 300px;
    box-shadow: 0 0 1px black;
    background-color: rgb(234, 237, 237);
}
.subtotal{
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 10px;  
}
p{
    margin: 0;
}
.shopingCart{
    flex: 0.7;
    flex-grow: 5;
    margin: 0 15px 0 0;
    box-shadow: 0 0 2px black;
}
.shopingCart > h1{
    margin-bottom: 5px;
    margin-left: 10px;
}
.checkout_button{
    width: max-content;
    height: 2rem;
    background-color: #f0c14b;
    border: 0.5px solid black;
    border-radius: 5px;
    cursor: pointer;
    min-height: fit-content;
}
.user-details{
    padding: 10px;
}
.checkout_button:active{
    background-color: orange;
}