:root {
    --navbackground: #0f1111;
    --navTextColor: #ffffff;
    --background-button: #e6e6e6;
    --background-search: #ffbf00;
    --background-search-hover: #ff8f00;

}
#root{
    width: 100%;  
    min-width: fit-content;
}

.navbar-container{
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--navbackground);
    color: var(--navTextColor);
    z-index: 100;
    flex-wrap: nowrap;
    padding: 0 10px;
}

.brand-name>h1 {
    font-weight: bolder;
}

.nav-first-section {
    position: static;
    display: flex;
    align-items: center;
}

.brand-name {
    margin-right: 10px;
}

.address-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.current-address {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
}

.nav-top-row {
    font-size: 0.75rem;
    font-weight: 400;
}

.nav-bottom-row {
    font-size: 0.875rem;
    font-weight: 600;
    white-space: nowrap;
}

.nav-middle-section {
    position: static;
    width: 100%;
}

.nav-middle-section-form {
    display: flex;
    align-items: center;
    margin: 0 10px;
}

.nav-middle-section-form>select {
    width: 42px;
    height: 40px;
    border: none;
    background-color: var(--background-button);
    cursor: pointer;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.nav-middle-section-form>select:focus {
    outline-color: orange;
    outline-style: solid;
    outline-width: 3px;
    z-index: 1;
}

.nav-middle-section-form>input,
.nav-middle-section-form>button {
    border: none;
    height: 40px;
    outline: none;
}

.nav-middle-section-form>button {
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background-search);
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.nav-middle-section-form>button:hover {
    background-color: var(--background-search-hover);
}

.nav-middle-section-form>input {
    flex: 1;
}

.nav-end-section {
    display: flex;
    gap: 10px;
    position: static;
}

.nav-link {
    border: 0.5px solid var(--navbackground);
    border-radius: 3px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.cart{
    align-items: center;
    padding: 0 10px;
}

.address-container:hover,
.nav-link:hover {
    border-color: var(--navTextColor);
}
a{
    text-decoration: none;
    color: var(--navTextColor);
}

input::placeholder{
    padding-left: 10px;
}