:root{
    --background-color: #0f1111;
    --color:#ffffff
}

.header{
    padding:0 20px;
    height: 60px;
    background-color: var(--background-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    color:var(--color)
}
.logo{
    width: 100px;
    margin-right: 25px;
    height: auto;
    align-self: center;
    justify-content: center;
}
@media  screen and ( max-width : 600px ) {
    .header{
        padding: 0;
    }
    .logo{
        width: 70px;
        margin: 5px;
    }

    .header_nav{
        width: 400px;
        font-size: 0.8rem;
    }
    .outer{
        font-size: 0.8rem;
    }
    
}
.header_search{
    display: flex;
    width: 100%;
    border: none;
    margin: 0 10px;
}
.header_searchInput{
    width: 100%;
    min-width: 35px;
    height: 35px;
    border: none;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
.header_search > button{
    width: 40px;
    display: flex;
    margin-right: 10px;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: orange;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.header_nav{
    width: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.header_option{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid black;
    border-radius: 3px;
    padding: 5px;
    cursor: pointer;
}
.header_option:hover{
    border:1px solid white;
}
.link{
    color: white;
    text-decoration: none;
}
.headerOptionLineTwo{
    white-space: nowrap;
}
.shopingCart_img{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px 10px;
    border: 1px solid black;
    border-radius: 3px;
}
.shopingCart_img:hover{
    cursor: pointer;
    border:1px solid white;
}