.product_detail{
    display: flex;
    padding: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 10px 10px;
    background-color: white;
    position: relative;
    width: 100%;
}
.product_info{
    align-self: flex-start;
    margin: 20px 20px;
}

.product_detail > img{
    width: 250px;
    height: auto;
    max-width: 400px;
    max-height: 400px;

}
.product_detail >button{
    margin:25px 0;
    width: 25%;
    height: 30px;
    background-color: #f0c14b;
    border: 0.5px solid black;
    cursor: pointer;
    white-space: nowrap;
    min-width: fit-content;
}
.price{
    font-size: x-large;
    padding-top: 15px;
}
.links{
    text-decoration: none;
    color: black;
}
.payment_priceContainer{
    margin: 10px 0;
    padding: 10px;
    border:1px solid lightgray;
}
input::placeholder{
    padding-left: 10px;
}
.addToCart:active{
background-color: orange;
}