.cartProducts{
    display: flex;
    justify-content: flex-start;
    
    margin: 10px;
}
.cartProducts > img{
    width: 150px;
    height: auto;
    margin-right: 10px;
}
.cartProduct_price{
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.removeFromCart {
    height: 1.5rem;
    min-width: max-content;
    padding:2.5px 5px;
    background-color: #f0c14b;
    border:0.5px solid black;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.removeFromCart:active{
    background-color: orange;
}